<h1>People</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Videos</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to user.name, user_path(user) %>
        </td>
        <td>
          <%= user.videos.count %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
