<div class="jumbotron">
  <div class="container">
    <h1>Drunk Screencasts</h1>
    <p>
      Have a drink and learn something
    </p>
  </div>
</div>

<%= render(@videos) || 'Uh oh. There are no videos!' %>
