@import "bootstrap-sprockets";
@import "bootstrap";

#content-container {
  padding-top: 70px;
}

iframe {
  max-width: 100%;
}

.footer {
  margin: 1em 0;
  padding-top: 1em;
  border-top: 1px solid black;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  iframe {
    max-height: 400px;
  }
}
